// *********** COLORS ***********
$color-primary-light: #ed13e4; 
$color-primary-dark: #5800aa; 

$color-blue-light: #3093d3;

$color-gray-dark: #444444;
$color-gray-dark-2: #424242;
$color-gray-dark-3: #666666;
$color-gray-dark-4: #919191;


$color-black: #000000;

$color-white: #ffffff;

// ********** MEASURES ***********
$default-border-radius: 3px;

$row-min-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;
