// *********** COLORS ***********
$color-primary-light: #ed13e4; 
$color-primary-dark: #5800aa; 

$color-blue-light: #3093d3;

$color-gray-dark: #444444;

$color-black: #000000;

$color-white: #ffffff;

// ********** MEASURES ***********
$default-border-radius: 3px;