.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.6rem;
    text-decoration: none;
  }

  &--block { display: block; width: 10rem; height: 3.55rem;}

  &--blue {
    border-radius: 2px;
    color: $color-white;
    background-color: $color-blue-light;
  }

  &--purple {
    border-radius: 2px;
    color: $color-white;
    background-color: lighten($color-primary-dark, 25%);
  }

  &--rounded { 
    border-radius: 100px; 
    line-height: 5rem;
    width: 20rem;
    height: 5rem;
  }
}