.navigation {
  @include clearfix;

  padding: 2.8rem 17rem 0 17rem;
  position: absolute;
  z-index: 99;
  width: 100%;
  left: 0;
  top: 0;

  &__logo-box,
  &__heading,
  &__form-group {
    float: left;
  }

  &__logo {
    color: $color-white;
    font-weight: 900;
    font-size: 4rem;
    text-shadow: 0 0 3rem rgba($color-black, .4);
  }

  &__heading {
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.5rem;
    display: inline-block;
    line-height: 4.5rem;
    margin-left: 1.5rem;
    font-weight: 500;
  }

  &__form {
    float: right;
    line-height: 4.4rem;
    display: inline-block;
  }

  &__form-group {
    margin-right: 1rem;
  }

  &__input {
    width: 25rem;
    border: none;
    display: block;
    height: 3.55rem;
    font-size: 1.4rem;
    border-radius: 2px;
    padding: .5rem 1.4rem;
    color: $color-gray-dark-2;
  }

  // Small password bullets fix
  &__input:not(:placeholder-shown)[type="password"] {font-size: .9rem; }

  &__input:focus,
  &__input:required,
  &__input:invalid { 
    outline: none; box-shadow: none; 
  }

  &__label {
    position: absolute;
    top: -999rem;  
    left: -999rem;
  }
}